GEMINI_API_KEY:  AIzaSyDUfKJSib_dfTwgKX2JuzYnTTu9-HlRLHk
Qdrant_API_KEY: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.1aZCz0Je69a5RLsKuGhxZ8T0i-y3IrSpl6bcMON8K9w
Qdrant_link: https://33e9acae-8e28-4357-adf4-abb09151306e.europe-west3-0.gcp.cloud.qdrant.io
Cluster_ID:  33e9acae-8e28-4357-adf4-abb09151306e
DATABASE_URL:  psql 'postgresql://neondb_owner:npg_bgRMqx4CYm5J@ep-mute-shape-a4dybz72-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'